<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<h5>Your Course</h5>
<ul>
  <% @user.enrollments.each do |enrollment| %>
    <%= enrollment.course.code %>
    <%= enrollment.course.name %>
    <br>
    <% end %>
</ul>
