<p id="notice"><%= notice %></p>

<h1>Search Results</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
      <th>Code<th>
      <th>Name<th>
      <th>Requirement<th>
    </tr>
  </thead>

  <tbody>
    <% if @results.any? %>
      <% @results.each do |result| %>
        <tr>
          <td><%= result.code %></td>
          <td><%= result.name%></td>
          <td><%= result.requirement %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
